{% load static %}

{% block others %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="research projects">
            Achievements
        </a>

        <a class="item" data-tab="Consultancy project">
            Experts Lectures/Invited Talks
        </a>

        <a class="item" data-tab="patents">
            Session Chaired
        </a>
        <a class="item" data-tab="technology transfer">
            Keynote/Planery Address
        </a>
    </div>


    {% comment %}The  Achievement segment starts here!{% endcomment %}
    <div class="ui active tab segment" data-tab="research projects">
        <h4 class="ui dividing header">Add an Achievement</h4>
            <form class="ui form"  method="post" action="{% url 'eis:award_insert' %}">
            {% csrf_token %}
           
            <div style="display: none;"> <input type="text" id="achZ" name="ach_id"></div>
            <div class="field">
                <label>Year/Month/Day</label>
                <div class=" four fields">
                    <div class=" field">
                        <!-- <input placeholder="Year/Month/Day" type="text"> -->
                             <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="a_day"  id="achC"  >
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Day</div>
                            <div class="menu">
                                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                <div class="item" data-value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                     <div class=" field">
                        <!-- <input placeholder="Year/Month/Day" type="text"> -->
                             <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="a_month" id="achF">
                            <i class="dropdown icon"></i>
                            <div class="default text">Month</div>
                            <div class="menu">
                                {% for i in "xxxxxxxxxxxxx" %}
                                <div class="item" data-value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                     <div class=" field">
                        <!-- <input placeholder="Year/Month/Day" type="text"> -->
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="a_year" id="achE" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                {% for i in year_range %}
                                <div class="item" data-value="{{ i }}">{{ i }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>   

                    <div class=" field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="type"  id="achA" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Achievement Type</div>
                            <div class="menu">
                                <div class="item" data-value="Awards">Awards</div>
                                <div class="item" data-value="Honours">Honours</div>
                                <div class="item" data-value="Prizes">Prizes</div>
                                <div class="item" data-value="Others">Others</div>



                            </div>
                        </div>
                    </div>
                </div>
              


                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Details</label>
                            <input placeholder="Title" type="text"   id="achB" name="details" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>


            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
               <!-- <th class="sorted ascending">Sr.</th>
                <th class="">Achievement</th>
                <th class="" colspan="3">Details</th>
                                <th class="">Year/Month/Day</th>
                <th class="">Action</th>-->

                  <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 15%;" >Achievement</th>
                <th class="" style="width: 53%;">Title </th>
                <th class="" style="width: 15%;">Day/Month/Year</th>

                <th style="width:10%">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for award in awards %}
            <tr>
                <td id="ach{{ forloop.counter }}Z"><div style="display: none;">{{ award.id }}</div>{{ forloop.counter }}.</td>
                <td id="ach{{ forloop.counter }}A">{{ award.a_type }}</td>
                <td id="ach{{ forloop.counter }}B">{{ award.details }}</td>
                <td id="ach{{ forloop.counter }}C">{% if award.a_day %}{{ award.a_day }} / {% endif %}{% if award.a_month %}{{ award.a_month }} / {% endif %}{% if award.a_year %}{{ award.a_year }}{% endif %}</td>
                <td><a onclick="updateACH({{ forloop.counter }})"><i class="edit icon" style="font-size:1.3vw;color:blue"></i> </a><br><a class="centered raised item" href="{% url 'eis:achievement_delete' award.id %}"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a></td>

            </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>

    {% comment %}The Achievements segment ends here!{% endcomment %}



    {% comment %}The Expert Lectures segment starts here!{% endcomment %}
    <div class="ui tab segment" data-tab="Consultancy project">
        <h4 class="ui dividing header">Add a Expert Lecture/Invited Talks</h4>
           <form class="ui form"  method="post" action="{% url 'eis:talk_insert' %}">
                           <div style="display: none;"> <input type="text" id="lecZ" name="lec_id"></div>
            {% csrf_token %}
            <div class="field">
                <div class="three fields">
                <!-- code change starts -->
                    <div class="field">
                        <label>Presentation Type</label>
                        
                          <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="type"  id="lecA" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Presentation Type</div>
                            <div class="menu">
                                <div class="item" data-value="Invited Talk">Invited Talk</div>
                                <div class="item" data-value="Expert Lecture">Expert Lecture</div>
                              



                            </div>
                        </div>
                    </div>
                    <!-- code change ends -->

                    <div class="field">
                        <label>Place</label>
                        <input placeholder="Place" type="text" name="place" id="lecC" required>
                    </div>
                      <div class="field">
                        <label>Date</label>
                        <!-- <input placeholder="Client" type="text"> -->
                        <!-- code change starts -->
                             <div class="ui calendar" id="example2g">
                                <div class="ui input left icon">
                                  <i class="calendar icon"></i>
                                  <input type="text" placeholder="Date/Time" name="l_date" id="lecD" required>
                                </div>
                              </div>
                          <!-- code change ends -->
                    </div>
                     
                </div>
            </div>

            <div class="field">
                

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text" name="title"  id="lecB" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
              

                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 15%;" >Presented</th>
                <th class="" style="width: 30%;">Title </th>
                <th class="" style="width: 20%;">Place</th>
                  <th style="width:18%">Date</th>
                <th style="width:10%">Action</th>
            </tr>
            </thead>

            <tbody>
             {% for talk in talks %}
            <tr id="r1">
                <td id="lec{{ forloop.counter }}Z"><div style="display: none;">{{ talk.id }}</div>{{ forloop.counter }}.</td>
                <td id="lec{{ forloop.counter }}A">{{ talk.l_type }}</td>
                <td id="lec{{ forloop.counter }}B">{{ talk.title }}</td>
                <td id="lec{{ forloop.counter }}C">{{ talk.place }}</td>
                <td id="lec{{ forloop.counter }}D">{{ talk.l_date }}</td>
                <td><a onclick="updateLEC({{ forloop.counter }})"><i class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_expert_lecturesDelete' talk.id %}"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a></td>

            </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>
    {% comment %}The Expert Lecture ends here!{% endcomment %}


    {% comment %}The Session chaired starts here!{% endcomment %}
    <div class="ui tab segment" data-tab="patents">
        <h4 class="ui dividing header">Add a  Session Chaired</h4>
              <form class="ui form"  method="post" action="{% url 'eis:chaired_insert' %}">
            {% csrf_token %}
            <div class="field">
                <div class="two fields">
                    

                    <div class="field">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Event</label>
                <div class=" three fields">
                    <div class=" field">
                        <input placeholder="Event" type="text" name="event"  id="sessionB" required>
                    </div>
                  <!-- code change starts -->  
                    <div class=" field">
                        <!-- <input placeholder="Date" type="text">--> 
                         <!--  <label>Start Date</label>  -->
                           <div class="ui calendar" id="rangestart6">
                                          <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="Start" name="start" id="sessionC" required>
                                          </div>
                                </div>                  
                    </div>

                    <div class=" field">
                         <!-- <label>End Date</label> -->
                         <div class="ui calendar" id="rangeend6">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="End" name="end" id="sessionD" required>
                                      </div>
                                    </div>
                    </div>
                     <!-- code change ends--> 
                </div>

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Name</label>
                            <input placeholder="Name" type="text" name="name" id="sessionA" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
               <!-- <th class="sorted ascending">Sr.</th>
                <th class="" colspan=2>Name</th>
                <th class="" colspan=3>Event</th>
                <th class="">Duration</th>
                <th class="">Action</th>-->


                   <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Name</th>
                <th class="" style="width: 38%;">Event </th>
                <th class="" style="width: 25%;">Duration</th>

                <th style="width:10%">Action</th>
            </tr>
            </thead>

            <tbody>
             {% for chair in chairs %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td class=""  id="session{{ forloop.counter }}A">{{ chair.name }}</td>
                <td class="" id="session{{ forloop.counter }}B">{{ chair.event }}</td>
                <td id="session{{ forloop.counter }}C">{{ chair.start_date }} - {{ chair.end_date }}</td>
                <td><a onclick="updateSESSION({{ forloop.counter }})"><i class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_session_chairDelete' chair.id %}"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i> </a></td>

            </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>

    {% comment %}The Session chaired segment ends here!{% endcomment %}


    {% comment %}The Keynote/Planery Address segment starts here!{% endcomment %}

    <div class="ui tab segment" data-tab="technology transfer">
        <h4 class="ui dividing header">Add a Keynote/Planery Address</h4>
          <form class="ui form"  method="post" action="{% url 'eis:keynote_insert' %}">
            {% csrf_token %}
            <div class="field">
                <div class="two fields">
                    

                    <div class="field">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Presentation Type</label>
                <div class=" two fields">
                    <div class=" field">
                      <!--   <input placeholder="Event" type="text"> -->
                           <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="type"  id="keyA" required>
                            <i class="dropdown icon"></i>
                            <div class="default text"> Presentation Type</div>
                            <div class="menu">
                                <div class="item" data-value="Keynotes">Keynotes</div>
                                <div class="item" data-value="Planery Address">Planery Address</div>
                               
                            </div>
                        </div>
                    </div>
                    <div class=" field">
                        <!-- <input placeholder="Date" type="text"> -->
                        <!-- code change starts -->
                              <div class="ui calendar" id="example2h">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="Date/Time" name="start" id="keyD"  required>
                                    </div>
                                  </div>
                        <!-- code change ends -->
                    </div>

                
                </div>
                     <div class=" two fields">
                    <div class=" field">
                      <!--   <input placeholder="Event" type="text"> -->
                      <label>Page No.</label>
                            <input placeholder="Page No." type="text" id="keyC"  name="page_no">
                          
                    </div>
                    <div class=" field">
                        <!-- <input placeholder="Date" type="text"> -->
                        <!-- code change starts -->
                        <label>ISBN No.</label>
                            <input placeholder="ISBN No." type="text" name="isbn_no">
                             
                        <!-- code change ends -->
                    </div>

                
                </div>
<div class="fields">
    <div class="eight wide field">
        <div class="field">
                            <label>Confrence Name</label>
                            <input placeholder="Confrence Name" type="text" name="name" required>
                        </div>
    </div>
    <div class="eight wide field">
        <div class="field">
                            <label>Conference Venue</label>
                            <input placeholder="Confrence Venue" type="text" name="venue" required>
                        </div>
    </div>
</div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text" name="title" id="keyB" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        
        
        <br>

         <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
                <!--<th class="sorted ascending">Sr.</th>
                <th class="" >Type</th>
                <th class="" colspan="2">Title</th>
                <th class="" colspan="3">Conference Details</th>
                <th class="" >Date</th>
                <th class="">Action</th>-->

                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 15%;" >Type</th>
                <th class="" style="width: 23%;">Title </th>
                <th class="" style="width: 30%;">Conference Details</th>
                <th style="width:15%">Date</th>
                <th style="width:10%">Action</th>
            </tr>
            </thead>

            <tbody>
             {% for keynote in keynotes %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td id="key{{ forloop.counter }}A" >{{ keynote.type }}</td>
                <td id="key{{ forloop.counter }}B" >{{ keynote.title }}</td>
                <td id="key{{ forloop.counter }}C" ><b>Name:</b>{{ keynote.name }}<br/><b>Venue:</b>{{ keynote.venue }}<br/><b>Page No:</b>{{ keynote.page_no }}<br/><b>ISBN No.:</b>{{ keynote.isbn_no }}</td>
                <td id="key{{ forloop.counter }}D" >{{ keynote.start_date }}</td>
                <td><a onclick="updateKEY({{ forloop.counter }})"><i class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_keynote_addressDelete' keynote.id %}"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a> </td>

            </tr>
            {% endfor %}
            </tbody>


            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>
    {% comment %}The Technology segment ends here!{% endcomment %}
{% endblock %}