
{% extends 'fusion/general/base.html' %}
{% load static %}


{% block title %}
    Profile
{% endblock %}


{% block body %}
    {% block navBar %}
        {% include 'fusion/general/../dashboard/navbar.html' %}
    {% endblock %}


    {% comment %}The grid starts here!{% endcomment %}
    <div class="ui stackable doubling grid">

        {% comment %}The left-margin segment!{% endcomment %}
        <div class="column"></div>

        {% comment %}
            The left-rail segment starts here!
        {% endcomment %}
        <div class="three wide column">

            {% comment %}The user image card starts here!{% endcomment %}
            {% block usercard %}
                {% include 'fusion/general/usercard.html' %}
            {% endblock %}
            {% comment %}The user image card ends here!{% endcomment %}

            <div class="ui divider"></div>

            {% comment %}The Tab-Menu starts here!{% endcomment %}
            <div class="ui huge fluid vertical pointing menu"
                 style="max-width: 320px;">

                <a class="active item" data-tab="first">
                    Personal Details
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="second">
                    Publications
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="third">
                    Projects
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="fourth">
                    Thesis Supervision
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="fifth">
                    Event Organised
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="sixth">
                    Visits
                    <i class="right floated chevron right icon"></i>
                </a>
                <a class="item" data-tab="seventh">
                    Conference/Symposium
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="eigth">
                    Others
                    <i class="right floated chevron right icon"></i>
                </a>

                <a class="item" data-tab="ninth">
                    Administrative Responsibilities
                    <i class="right floated chevron right icon"></i>
                </a>

            </div>
            {% comment %}The Tab-Menu ends here!{% endcomment %}

        </div>
        {% comment %}
            The left-rail segment ends here!
        {% endcomment %}



        {% comment %}
            The central-rail segment starts here!
        {% endcomment %}
        <div class="eight wide column">
            {% comment %}The Details start here!{% endcomment %}
            <div class="ui active tab segment" data-tab="first">
                {% block personaldetails %}
                    {% include 'eis/eisModule/personaldetails.html' %}
                {% endblock %}
            </div>
            {% comment %}The Personal Details end here!{% endcomment %}


            {% comment %}The Publications starts here!{% endcomment %}

            <div class="ui tab segment" data-tab="second">
                {% block publications %}
                    {% include 'eis/eisModule/publications.html' %}
                {% endblock %}
            </div>

            {% comment %}The Publications ends here!{% endcomment %}


            {% comment %}The Projects starts here!{% endcomment %}

            <div class="ui tab segment" data-tab="third">
                {% block projects %}
                    {% include 'eis/eisModule/projects.html' %}
                {% endblock %}
            </div>

            {% comment %}The Projects ends here!{% endcomment %}


            {% comment %}The Thesis Supervision starts here!{% endcomment %}

            <div class="ui tab segment" data-tab="fourth">
                {% block thesis %}
                    {% include 'eis/eisModule/thesis.html' %}
                {% endblock %}
            </div>

            {% comment %}The thesis ends here!{% endcomment %}

            {% comment %}The events organised starts here!{% endcomment %}

            <div class="ui tab segment" data-tab="fifth">
                {% block eventorganised %}
                    {% include 'eis/eisModule/eventorganized.html' %}
                {% endblock %}
            </div>

            {% comment %}The event organised ends here!{% endcomment %}

            {% comment %}The visits starts here!{% endcomment %}

            <div class="ui tab segment" data-tab="sixth">
                {% block visits %}
                    {% include 'eis/eisModule/visits.html' %}
                {% endblock %}
            </div>
            {% comment %}The visits ends here!{% endcomment %}

            {% comment %}The conference starts here!{% endcomment %}
            <div class="ui tab segment" data-tab="seventh">
                {% block conference %}
                    {% include 'eis/eisModule/conference.html' %}
                {% endblock %}
            </div>
            {% comment %}The conference ends here!{% endcomment %}

            {% comment %}The others starts here!{% endcomment %}
            <div class="ui tab segment" data-tab="eigth">
                {% block others %}
                    {% include 'eis/eisModule/others.html' %}
                {% endblock %}
            </div>
            {% comment %}The others ends here!{% endcomment %}

            {% comment %}The Thesis Supervision starts here!{% endcomment %}
            <div class="ui tab segment" data-tab="ninth">
                Hi!
            </div>
            {% comment %}The Publications ends here!{% endcomment %}

        </div>
        {% comment %}The central-rail segment ends here!{% endcomment %}

        {% comment %}The right-rail segment starts here!{% endcomment %}
        <div class="three wide column">
            <div class="row">
                {% comment %}The Modules:{% endcomment %}
                {% block generatereport %}
                    {% include 'eis/eisModule/generatereport.html' %}
                {% endblock %}
            </div>

            <div class="row">
                {% comment %}The Modules:{% endcomment %}
                {% block modules %}
                    {% include 'fusion/dashboard/modules.html' %}
                {% endblock %}
            </div>

        </div>
        {% comment %}The right-rail segment ends here!{% endcomment %}

        {% comment %}The right-margin segment!{% endcomment %}
        <div class="column"></div>

    </div>
    {% comment %}The grid ends here!{% endcomment %}



{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'fusion/js/editProfile.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusion/js/tablesort.js' %}"></script>

{% comment %}
    <script>
        $(document).ready(function() {
            $('table').tablesort();
        });
    </script>
{% endcomment %}
        <script>
        function toggleContent() {
            $('.modulesContent').toggle();

            if($('.modulesContent').is(':visible')){
                $('#toggleIcon').removeClass("chevron down");
                $('#toggleIcon').addClass("chevron up");
            }
            else if(!$('.modulesContent').is(':visible')){
                $('#toggleIcon').removeClass("chevron up");
                $('#toggleIcon').addClass("chevron down");
            }
        }



        $('#example1').calendar();
        $('#example1a').calendar();
        $('#example1b').calendar();
        $('#example1d').calendar();
        $('#example1e').calendar();
        $('#example1f').calendar();
        $('#example1g').calendar();
         $('#example1h').calendar();

        $('#example2').calendar({
          type: 'date'
        });
         $('#example2a').calendar({
          type: 'date'
        });
          $('#example2b').calendar({
          type: 'date'
        });
           $('#example2d').calendar({
          type: 'date'
        });
            $('#example2e').calendar({
          type: 'date'
        });
            
           $('#example2f').calendar({
          type: 'date'
        });
          $('#example2g').calendar({
          type: 'date'
        });
          $('#example2h').calendar({
          type: 'date'
        });   


        $('#example3').calendar({
          type: 'time'
        });

        $('#rangestart').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

         $('#rangestart1').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend1').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });
         $('#rangestart2').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend2').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

         $('#rangestart3').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend3').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

          $('#rangestart4').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend4').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

          $('#rangestart5').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend5').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

         $('#rangestart6').calendar({
          type: 'date',
          endCalendar: $('#rangeend')
        });

        $('#rangeend6').calendar({
          type: 'date',
          startCalendar: $('#rangestart')
        });

        $('#example4').calendar({
          startMode: 'year'
        });

        $('#example5').calendar();

        $('#example6').calendar({
          ampm: false,
          type: 'time'
        });

        $('#example7').calendar({
          type: 'month'
        });

        $('#example8').calendar({
          type: 'year'
        });

        $('#example9').calendar();
        $('#example10').calendar({
          on: 'hover'
        });

        var today = new Date();
        $('#example11').calendar({
          minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() - 5),
          maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() + 5)
        });

        $('#example12').calendar({
          monthFirst: false
        });

        $('#example13').calendar({
          monthFirst: false,
          formatter: {
            date: function (date, settings) {
              if (!date) return '';
              var day = date.getDate();
              var month = date.getMonth() + 1;
              var year = date.getFullYear();
              return day + '/' + month + '/' + year;
            }
          }
        });
        $('#example14').calendar({
          inline: true
        });
        $('#example15').calendar();



              function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           }

               function myFunction1() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
           }

     
           function myFunction2() {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           }

               function myFunction3() {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
           }

              function myFunction4() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           }

               function myFunction5() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
           }




           var cols=new Array();
                cols[0]="A";
                cols[1]="B";
                cols[2]="C";
                cols[3]="D";
                cols[4]="F";
                cols[5]="G";
                cols[6]="H";
                cols[7]="I";

                function getData(_row){
                var p = document.getElementById("s"+_row+"Z").innerHTML.search(">");
                var pend = document.getElementById("s"+_row+"Z").innerHTML.indexOf("<",5);
                document.getElementById("fZ").value=document.getElementById("s"+_row+"Z").innerHTML.slice(p+1,pend);
                  for(var i=0;i<cols.length;i++)  {
                    var _temp=document.getElementById("s"+_row+cols[i]).innerHTML;
                    if (_temp.search("<b>Name: </b>")==0){
                      var pos = _temp.search("<br>");
                      document.getElementById("f"+cols[i]).value=_temp.slice(13, pos);
                      pos = _temp.lastIndexOf("</b>");
                      document.getElementById("fE").value=_temp.slice(pos+4, _temp.length);
                    }
                    else{
                      document.getElementById("f"+cols[i]).value=_temp;
                    }
                    
                                                 }
                                     }
              


              function updatePHD(_row){
              var p = document.getElementById("phd"+_row+"Z").innerHTML.search(">");
                var pend = document.getElementById("phd"+_row+"Z").innerHTML.indexOf("<",5);
                document.getElementById("phdZ").value=document.getElementById("phd"+_row+"Z").innerHTML.slice(p+1,pend);
                  for(var i=0;i<cols.length;i++)  {
                    var _temp=document.getElementById("phd"+_row+cols[i]).innerHTML;
                    if (_temp.search("<b>Name: </b>")==0){
                      var pos = _temp.search("<br>");
                      document.getElementById("phd"+cols[i]).value=_temp.slice(13, pos);
                      pos = _temp.lastIndexOf("</b>");
                      document.getElementById("phdE").value=_temp.slice(pos+4, _temp.length);
                    }
                    else{
                      document.getElementById("phd"+cols[i]).value=_temp;
                    }
                    
                                                 }
                                     }

                                     function updateFVISITS(_row){
                                     var p = document.getElementById("fvisits"+_row+"Z").innerHTML.search(">");
                var pend = document.getElementById("fvisits"+_row+"Z").innerHTML.indexOf("<",5);
                document.getElementById("fvisitsZ").value=document.getElementById("fvisits"+_row+"Z").innerHTML.slice(p+1,pend);
                                for(var i=0;i<cols.length;i++)  {
                                  var _temp=document.getElementById("fvisits"+_row+cols[i]).innerHTML;
                                  if(i==2){
                                   var pos = _temp.search(" - ");
                                   document.getElementById("fvisits"+cols[i]).value=_temp.slice(0, pos);
                                   document.getElementById("fvisitsE").value=_temp.slice(pos+3, _temp.length);
                                  }
                                  else if(i==0){
                                  var pos = _temp.search("=");
                                  document.getElementById("fvisits"+cols[i]).value=_temp.slice(pos+2, pos+4);
                                  }
                                  else{
                                    document.getElementById("fvisits"+cols[i]).value=_temp;
                                  }

                                }
                              }


                        function updateIVISITS(_row){
                                var p = document.getElementById("ivisits"+_row+"Z").innerHTML.search(">");
                                var pend = document.getElementById("ivisits"+_row+"Z").innerHTML.indexOf("<",5);
                                document.getElementById("ivisitsZ").value=document.getElementById("ivisits"+_row+"Z").innerHTML.slice(p+1,pend);
                                for(var i=0;i<cols.length;i++)  {
                                  var _temp=document.getElementById("ivisits"+_row+cols[i]).innerHTML;
                                  if(i==1){
                                   var pos = _temp.search(" - ");
                                   document.getElementById("ivisits"+cols[i]).value=_temp.slice(0, pos);
                                   document.getElementById("ivisitsD").value=_temp.slice(pos+3, _temp.length);
                                  }else{
                                    document.getElementById("ivisits"+cols[i]).value=_temp;
                                  }

                                }
                              }

                              function updateCONF(_row){
                              var p = document.getElementById("conf"+_row+"Z").innerHTML.search(">");
                                var pend = document.getElementById("conf"+_row+"Z").innerHTML.indexOf("<",5);
                                document.getElementById("confZ").value=document.getElementById("conf"+_row+"Z").innerHTML.slice(p+1,pend);
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("conf"+_row+cols[i]).innerHTML;

                          if(i==2){
                                   var pos = _temp.search(" - ");
                                   document.getElementById("conf"+cols[i]).value=_temp.slice(0, pos);
                                   document.getElementById("confD").value=_temp.slice(pos+3, _temp.length);
                                  }else{
                                    document.getElementById("conf"+cols[i]).value=_temp;
                                  }
                        }
                      }

                         function updateEVENT(_row){
                         var p = document.getElementById("event"+_row+"Z").innerHTML.search(">");
                        var pend = document.getElementById("event"+_row+"Z").innerHTML.indexOf("<",5);
                        document.getElementById("eventZ").value=document.getElementById("event"+_row+"Z").innerHTML.slice(p+1,pend);
                         var p = document.getElementById("event"+_row+"Z").innerHTML.search(">");
                                var pend = document.getElementById("event"+_row+"Z").innerHTML.indexOf("<",5);
                                document.getElementById("eventZ").value=document.getElementById("event"+_row+"Z").innerHTML.slice(p+1,pend);
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("event"+_row+cols[i]).innerHTML;

                          if(i==3){
                                   var pos = _temp.search(" - ");
                                   document.getElementById("event"+cols[i]).value=_temp.slice(0, pos);
                                   document.getElementById("eventE").value=_temp.slice(pos+3, _temp.length);
                                  }else if(i == 2){
                                  document.getElementById("eventC").value=_temp.slice(_temp.search("</b>")+4, _temp.search("<br>"));
                                  document.getElementById("eventF").value=_temp.slice(_temp.search("Venue: </b>")+11, _temp.indexOf(("<br>"),_temp.search("Venue: </b>"))).trim();
                                  document.getElementById("eventG").value=_temp.slice(_temp.lastIndexOf("Type: </b>")+10, _temp.length);

                                  }else{
                                    document.getElementById("event"+cols[i]).value=_temp;
                                  }
                        }
                      }

                      function updateLEC(_row){
                      var p = document.getElementById("lec"+_row+"Z").innerHTML.search(">");
                                var pend = document.getElementById("lec"+_row+"Z").innerHTML.indexOf("<",5);
                                document.getElementById("lecZ").value=document.getElementById("lec"+_row+"Z").innerHTML.slice(p+1,pend);
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("lec"+_row+cols[i]).innerHTML;

                         document.getElementById("lec"+cols[i]).value=_temp;
                        }
                      }


                       function updateSESSION(_row){
                       var p = document.getElementById("session"+_row+"Z").innerHTML.search(">");
                                var pend = document.getElementById("session"+_row+"Z").innerHTML.indexOf("<",5);
                                document.getElementById("sessionZ").value=document.getElementById("session"+_row+"Z").innerHTML.slice(p+1,pend);
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("session"+_row+cols[i]).innerHTML;



                          if(i==2){
                                   var pos = _temp.search(" - ");
                                   document.getElementById("session"+cols[i]).value=_temp.slice(0, pos);
                                   document.getElementById("sessionD").value=_temp.slice(pos+3, _temp.length);
                                  }else{
                                    document.getElementById("session"+cols[i]).value=_temp;
                                  }

                        }
                      }


                         function updateKEY(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("key"+_row+cols[i]).innerHTML;

                         document.getElementById("key"+cols[i]).value=_temp;
                        }
                      }


function updateACH(_row){
    var p = document.getElementById("ach"+_row+"Z").innerHTML.search(">");
    var pend = document.getElementById("ach"+_row+"Z").innerHTML.indexOf("<",5);
    document.getElementById("achZ").value=document.getElementById("ach"+_row+"Z").innerHTML.slice(p+1,pend);
    for(var i=0;i<cols.length;i++)  {
        var _temp=document.getElementById("ach"+_row+cols[i]).innerHTML;
        if(i == 2){
            document.getElementById("achE").value=_temp.slice(_temp.length-4,_temp.length);
            if(_temp.search("/")>0){
                if(_temp.lastIndexOf("/") != _temp.indexOf("/")){
                    document.getElementById("achC").value=_temp.slice(0,_temp.indexOf("/")-1);
                    document.getElementById("achF").value=_temp.slice(_temp.indexOf("/")+2,_temp.lastIndexOf("/")-1);
                }
                else{
                    document.getElementById("achF").value=_temp.slice(0,_temp.indexOf("/")-1);
                }
            }
        }
        else{
            document.getElementById("ach"+cols[i]).value=_temp;
        }
    }
}

function updatePUB(_row){
    var p = document.getElementById("pub"+_row+"Z").innerHTML.search(">");
    var pend = document.getElementById("pub"+_row+"Z").innerHTML.indexOf("<",5);
    document.getElementById("pubZ").value=document.getElementById("pub"+_row+"Z").innerHTML.slice(p+1,pend);
    for(var i=0;i<cols.length;i++)  {
        var _temp=document.getElementById("pub"+_row+cols[i]).innerHTML;
        if(i == 2){
            document.getElementById("pubC").value = _temp.slice(_temp.indexOf("Journal")+13,_temp.indexOf("<br>",_temp.indexOf("Journal"))).trim();
            document.getElementById("pubE").value = _temp.slice(_temp.indexOf("Volume No./Issue No.: </b>")+26,_temp.indexOf("<br>",_temp.indexOf("Volume No./Issue No.: </b>"))).trim();
            document.getElementById("pubF").value = _temp.slice(_temp.indexOf("Page")+14,_temp.indexOf("<br>",_temp.indexOf("Page"))).trim();
            document.getElementById("pubG").value = _temp.slice(_temp.indexOf("Reference ")+20,_temp.indexOf("<br>",_temp.indexOf("Reference "))).trim();
            document.getElementById("pubH").value = _temp.slice(_temp.indexOf("Submission ")+17,_temp.indexOf("<br>",_temp.indexOf("Submission "))).trim();
            document.getElementById("pubI").value = _temp.slice(_temp.indexOf("Publication")+18,_temp.indexOf("<br>",_temp.indexOf("Publication"))).trim();
            document.getElementById("pubJ").value = _temp.slice(_temp.indexOf("Status")+12,_temp.indexOf("<br>",_temp.indexOf("Status"))).trim();
            document.getElementById("pubK").value = _temp.slice(_temp.indexOf("SCIE ")+18,_temp.indexOf("<br>",_temp.indexOf("SCIE "))).trim();
            document.getElementById("pubL").value = _temp.slice(_temp.indexOf("Issuance")+16,_temp.indexOf("<br>",_temp.indexOf("Issuance"))).trim();
        }
        else{
            document.getElementById("pub"+cols[i]).value=_temp;
        }
    }
}



function updateCON(_row){
    var p = document.getElementById("con"+_row+"Z").innerHTML.search(">");
    var pend = document.getElementById("con"+_row+"Z").innerHTML.indexOf("<",5);
    document.getElementById("conZ").value=document.getElementById("con"+_row+"Z").innerHTML.slice(p+1,pend);
    for(var i=0;i<cols.length;i++)  {
        var _temp=document.getElementById("con"+_row+cols[i]).innerHTML;
        if(i == 2){
            document.getElementById("conC").value = _temp.slice(_temp.indexOf("Confrence")+13,_temp.indexOf("<br>",_temp.indexOf("Confrence"))).trim();
            document.getElementById("conE").value = _temp.slice(_temp.indexOf("Institute")+16,_temp.indexOf("<br>",_temp.indexOf("Institute"))).trim();
            document.getElementById("conF").value = _temp.slice(_temp.indexOf("Submission(DOS)")+14,_temp.indexOf("<br>",_temp.indexOf("Submission(DOS)"))).trim();
            document.getElementById("conG").value = _temp.slice(_temp.indexOf("Acceptance(DOA)")+20,_temp.indexOf("<br>",_temp.indexOf("Acceptance(DOA)"))).trim();
            document.getElementById("conH").value = _temp.slice(_temp.indexOf("Publication(DOP)")+17,_temp.indexOf("<br>",_temp.indexOf("Publication(DOP)"))).trim();
            document.getElementById("conI").value = _temp.slice(_temp.indexOf("Page ")+18,_temp.indexOf("<br>",_temp.indexOf("Page "))).trim();
            document.getElementById("conJ").value = _temp.slice(_temp.indexOf("Status")+12,_temp.indexOf("<br>",_temp.indexOf("Status"))).trim();
            document.getElementById("conK").value = _temp.slice(_temp.indexOf("SCIE ")+18,_temp.indexOf("<br>",_temp.indexOf("SCIE "))).trim();
            document.getElementById("conL").value = _temp.slice(_temp.indexOf("ISBN ")+16,_temp.indexOf("<br>",_temp.indexOf("ISBN "))).trim();
        }
        else{
            document.getElementById("con"+cols[i]).value=_temp;
        }
    }
}





                        function updateBOOKS(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("books"+_row+cols[i]).innerHTML;

                         document.getElementById("books"+cols[i]).value=_temp;
                        }
                      }

                         function updateRESEARCH(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("research"+_row+cols[i]).innerHTML;

                         document.getElementById("research"+cols[i]).value=_temp;
                        }
                      }

                         function updateCONSULTANCY(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("consultancy"+_row+cols[i]).innerHTML;

                         document.getElementById("consulatancy"+cols[i]).value=_temp;
                        }
                      }

                          function updatePATENT(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("patent"+_row+cols[i]).innerHTML;

                         document.getElementById("patent"+cols[i]).value=_temp;
                        }
                      }


                          function updateTECH(_row){
                        for(var i=0;i<cols.length;i++)  {
                          var _temp=document.getElementById("tech"+_row+cols[i]).innerHTML;

                         document.getElementById("tech"+cols[i]).value=_temp;
                        }
                      }

    </script>


    <script>
        function toggleContent() {
            $('.modulesContent').toggle();

            if($('.modulesContent').is(':visible')){
                $('#toggleIcon').removeClass("chevron down");
                $('#toggleIcon').addClass("chevron up");
            }
            else if(!$('.modulesContent').is(':visible')){
                $('#toggleIcon').removeClass("chevron up");
                $('#toggleIcon').addClass("chevron down");
            }
        }
    </script>

{% endblock %}