
{% load static %}

{% block publications %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="journal">
            Journal
        </a>

        <a class="item" data-tab="conference">
            Conference
        </a>

        <a class="item" data-tab="books">
            Books
        </a>
    </div>


    {% comment %}The Journal segment starts here!{% endcomment %}

    <div class="ui active tab segment" data-tab="journal">
        <h4 class="ui dividing header">Add a Journal</h4>
        <form class="ui form"  method="post" action="{% url 'eis:journal_insert' %}">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="pubZ" name="pub_id"></div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Author</label>
                        <input placeholder="Author" type="text" name="authors"  id="pubA"  required>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Journal details</label>
                <div class="fields">
                    <div class="eight wide field">
                        <input placeholder="Name of the Journal" type="text" name="name"  id="pubC"  required>
                    </div>

                    <div class="four wide field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="year"  id="pubD"  required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                <div class="item" data-value="2017">2017</div>
                                <div class="item" data-value="2016">2016</div>
                                <div class="item" data-value="2015">2015</div>
                                <div class="item" data-value="2014">2014</div>
                                <div class="item" data-value="2013">2013</div>
                                <div class="item" data-value="2012">2012</div>
                                <div class="item" data-value="2011">2011</div>
                                <div class="item" data-value="2010">2010</div>
                                <div class="item" data-value="2009">2009</div>
                                <div class="item" data-value="2008">2008</div>
                                <div class="item" data-value="2007">2007</div>
                                <div class="item" data-value="2006">2006</div>
                                <div class="item" data-value="2005">2005</div>
                                <div class="item" data-value="2004">2004</div>
                                <div class="item" data-value="2003">2003</div>
                                <div class="item" data-value="2002">2002</div>
                                <div class="item" data-value="2001">2001</div>
                                <div class="item" data-value="2000">2000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text" name="title"  id="pubB"  required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

                <div class="ui accordion field">
                    <div class="title">
                        <i class="icon dropdown"></i>
                        Optional  Journal Details
                    </div>
                    <div class="content fields">
                        <div class=" four fields">
                               <div class="field">
                                <label>Volume No./Issue No.</label>
                                <input placeholder="Volume No./Issue No." type="text" name="volume" id="pubE">
                               </div>
                             <div class="  field">
                                <label>Page No.</label>
                                <input placeholder="Page No." type="text" name="page" id="pubF">
                            </div>
                             <div class=" field">
                                <label>Paper Reference No.</label>
                                <input placeholder="Paper Reference No." type="text" name="ref" id="pubG">
                            </div>
                             <div class="field">
                                <label>Date of Submission</label>
                                  <div class="ui calendar" id="example2">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="DOS" name="dos"  id="pubH">
                                    </div>
                                  </div>
                                </div>
                            </div>

                            
                      
                            <div class=" four fields">
                               <div class="field">
                                <label>Date of Publication(DOP)</label>
                                  <div class="ui calendar" id="example2a">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="DOP" name="dop"  id="pubI">
                                    </div>
                                  </div>
                                </div>

                                 <div class="  field">
                                        <label>Status</label>
                                        <!--<input placeholder="Status" type="text">-->
                                           <div class="ui fluid search selection dropdown">
                                            <input type="hidden"  name="status" id="pubJ">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Status</div>
                                                <div class="menu">
                                                    <div class="item" data-value="Accepted">Accepted</div>
                                                    <div class="item" data-value="Rejected">Rejected</div>
                                                    <div class="item" data-value="Communicated">Communicated</div>

                                                </div>
                                        </div>
                               </div>

                                 <div class=" field">
                                <label>SCI/SCIE</label>
                                     <div class="ui fluid search selection dropdown">
                                            <input type="hidden"  name="sci"  id="pubK">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">SCI/SCIE</div>
                                                <div class="menu">
                                                    <div class="item" data-value="Yes">Yes</div>
                                                    <div class="item" data-value="No">No</div>

                                                </div>
                                        </div>
                              </div>

                                   <div class="field">
                                        <label>Date of Issuance(DOI)</label>
                                           <div class="ui calendar" id="example2b">
                                            <div class="ui input left icon">
                                              <i class="calendar icon"></i>
                                              <input type="text" placeholder="DOI"  name="doi" id="pubL">
                                            </div>
                                          </div>   
                                  </div>
                             </div>

                             
                                    </div>
                                 </div>
                            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
                
                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Authors</th>
                <th class="" style="width: 20%;">Title of Paper</th>
                <th class="" style="width: 37%;">Journal Details</th>

                <th class="" style="width: 8%;">Year</th>
                <th class="" style="width: 8%;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for j in journal %}
            <tr>
                <td id="pub{{ forloop.counter }}Z"><div style="display: none;">{{ j.id }}</div>{{ forloop.counter }}.</td>
                <td id="pub{{ forloop.counter }}A">{{ j.authors }}</td>
                <td id="pub{{ forloop.counter }}B">{{ j.title_paper }}</td>
                <td id="pub{{ forloop.counter }}C"><b>Name of the Journal: </b>{{ j.name_journal }}<br>
                    <b>Volume No./Issue No.: </b>{{ j.volume_no }} <br>
                                    <b>Page No.:</b> {{ j.page_no }}    <br>
                                    <b>Paper Reference No. :</b> {{ j.reference_number }} <br>
                                    <b>Date Of Submission :</b> {{ j.date_submission }}  <br>
                                    <b>Date of Publication :</b> {{ j.date_publication }}  <br>
                                    <b>Status:</b> {{ j.status }}  <br>
                                    <b>SCI/SCIE        : </b>{{ j.is_sci }} <br>
                                    <b>Date of Issuance :</b>  {{ j.doi }}

                </td>

                <td id="pub{{ forloop.counter }}D">{{ j.year }}</td>
                <td><a onclick="updatePUB({{ forloop.counter }})" onclick="location.href='#top'"> <i id="bt" class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_research_papersDelete' j.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red"></i></a></td>
            </tr>

            {% endfor %}

            </tbody>

            <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>


    {% comment %}The Journal segment ends here!{% endcomment %}



    {% comment %}The Conference segment starts here!{% endcomment %}

    <div class="ui tab segment" data-tab="conference">
        <h4 class="ui dividing header">Add a Conference</h4>
       <form class="ui form"  method="post" action="{% url 'eis:confrence_insert' %}">
            {% csrf_token %}
           <div style="display: none;"> <input type="text" id="conZ" name="con_id"></div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Author</label>
                        <input placeholder="Author" type="text" name="authors" id="conA"  required>
                    </div>

                </div>
            </div>

            <div class="field">
                <label>Conference details</label>
                <div class="fields">
                    <div class="eight wide field">
                        <input placeholder="Name of the Conference" type="text" name="name" id="conC" required>
                    </div>


                    <div class="four wide field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="year" id="conD" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                <div class="item" data-value="2017">2017</div>
                                <div class="item" data-value="2016">2016</div>
                                <div class="item" data-value="2015">2015</div>
                                <div class="item" data-value="2014">2014</div>
                                <div class="item" data-value="2013">2013</div>
                                <div class="item" data-value="2012">2012</div>
                                <div class="item" data-value="2011">2011</div>
                                <div class="item" data-value="2010">2010</div>
                                <div class="item" data-value="2009">2009</div>
                                <div class="item" data-value="2008">2008</div>
                                <div class="item" data-value="2007">2007</div>
                                <div class="item" data-value="2006">2006</div>
                                <div class="item" data-value="2005">2005</div>
                                <div class="item" data-value="2004">2004</div>
                                <div class="item" data-value="2003">2003</div>
                                <div class="item" data-value="2002">2002</div>
                                <div class="item" data-value="2001">2001</div>
                                <div class="item" data-value="2000">2000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text" name="title" id="conB" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

                <div class="ui accordion field">
                    <div class="title">
                        <i class="icon dropdown"></i>
                        Optional  Conference Details
                    </div>
                    <div class="content fields">
                        <div class=" four fields">
                               <div class="field">
                                <label>Venue/Host Institute</label>
                                <input placeholder="Venue." type="text" name="venue"  id="conE">
                               </div>
                             <div class="  field">
                                <label>Date of Submission(DOS)</label>
                               <!-- <input placeholder="Page No." type="text">-->
                                        <div class="ui calendar" id="example2d">
                                            <div class="ui input left icon">
                                              <i class="calendar icon"></i>
                                              <input type="text" placeholder="Date/Time"  name="dos"  id="conF">
                                            </div>
                                      </div>
                            </div>
                             <div class=" field">
                                <label>Confrence Start Date:</label>
                                 <!--<input placeholder="Paper Reference No." type="text">-->
                                       <div class="ui calendar" id="example2e">
                                        <div class="ui input left icon">
                                          <i class="calendar icon"></i>
                                          <input type="text" placeholder="Date/Time"  name="doa"  id="conG">
                                        </div>
                                      </div>
                            </div>
                             <div class="field">
                                <label>Confrence End Date:</label>
                                 <!-- <input placeholder="Date of Submission" type="text">-->
                                    <div class="ui calendar" id="example2f">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="Date/Time" name="dop"  id="conH">
                                    </div>
                                  </div>
                            </div>
                      </div>
                            <div class=" four fields">
                               <div class="field">
                                <label>Page No.</label>
                                <input placeholder="Date of Publication" type="text"  name="page"  id="conI">
                               </div>
                             <div class="  field">
                                <label>Status</label>
                                <!--<input placeholder="Status" type="text">-->
                                       <div class="ui fluid search selection dropdown">
                                    <input type="hidden"  name="status"  id="conJ">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Status</div>
                                        <div class="menu">
                                            <div class="item" data-value="Accepted">Accepted</div>
                                            <div class="item" data-value="Rejected">Rejected</div>
                                            <div class="item" data-value="Communicated">Communicated</div>

                                        </div>
                        </div>
                            </div>
                             <div class=" field">
                                <label>SCI/SCIE</label>
                                     <div class="ui fluid search selection dropdown">
                                            <input type="hidden"  name="sci" id="conK">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">SCI/SCIE</div>
                                                <div class="menu">
                                                    <div class="item" data-value="Yes">Yes</div>
                                                    <div class="item" data-value="No">No</div>

                                                </div>
                                        </div>
                              </div>
                             <div class="field">
                                <label>ISBN No</label>
                                <input placeholder="Date of Issuance" type="text" name="isbn"  id="conL">
                            </div>
                      </div>

                     
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
              <!--  <th class="sorted ascending">Sr.</th>
                <th class="">Authors</th>
                <th class="">Title of Paper</th>
                <th class="" colspan="2">Conference Detaiks</th>
                <th class="">Uploaded Document</th>
                <th class="">Year</th>
                <th class="">Action</th>-->
                 <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Authors</th>
                <th class="" style="width: 20%;">Title of Paper</th>
                <th class=""  style="width: 37%;">Conference Details</th>

                <th class="" style="width: 8%;">Year</th>
                <th class="" style="width: 8%;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for c in conference %}
            <tr>
                <td id="con{{ forloop.counter }}Z"><div style="display: none;">{{ c.id }}</div>{{ forloop.counter }}.</td>
                <td id="con{{ forloop.counter }}A">{{ c.authors }}</td>
                <td id="con{{ forloop.counter }}B">{{ c.title_paper }}</td>
                <td id="con{{ forloop.counter }}C">
                    <b>Name of the Conference:</b> {{ c.name_journal }}  <br>
                    <b>Venue/Host Institute:</b> {{ c.venue }}  <br>
                    <b>Page No.:  </b>   {{ c.page_no }}         <br>
                    <b>Date of Submission :</b>  {{ c.date_submission }}<br>
                    <b>Start Date :</b>  {{ c.date_acceptance }} <br>
                    <b>End Date : </b> {{ c.date_publication }} <br>
                    <b>Status :</b>{{ c.status }} <br>
                    <b>Conference Date(s)   : </b> {{ c.start_date }} to {{ c.end_date }}<br>
                    <b>ISBN No.     :   </b> {{ c.issn_no }}

                </td>

                <td id="con{{ forloop.counter }}D">{{ c.year }}</td>
                <td><a onclick="updateCON({{ forloop.counter }})"><i id="bt" class="edit icon" style="font-size:1.3vw;color:blue;"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_research_papersDelete' c.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red;"></i><br>
                </a> </td>
            </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>
    {% comment %}The Conference segment ends here!{% endcomment %}


    {% comment %}The Books segment starts here!{% endcomment %}
    <div class="ui tab segment" data-tab="books">
        <h4 class="ui dividing header">Add a Book/Book Chapter</h4>
        <form class="ui form"  method="post" action="{% url 'eis:book_insert' %}">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="booksZ" name="book_id"></div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Published</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="type"  id="booksA" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Published</div>
                            <div class="menu">
                                <div class="item" data-value="Book">Book</div>
                                <div class="item" data-value="Monograph">Monograph</div>
                                <div class="item" data-value="Book Chapter">Book Chapter</div>
                                <div class="item" data-value="Handbook">Handbook</div>
                                <div class="item" data-value="Technical Report">Technical Report</div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Co-author</label>
                        <input placeholder="Co-author" type="text" name="co_authors" id="booksE" required>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Publisher</label>
                <div class="fields">
                    <div class="twelve wide field">
                        <input placeholder="Publisher" type="text" name="publisher" id="booksC" required>
                    </div>

                    <div class="four wide field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="year" id="booksD" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                <div class="item" data-value="2010">2010</div>
                                <div class="item" data-value="2011">2011</div>
                                <div class="item" data-value="2012">2012</div>
                                <div class="item" data-value="2013">2013</div>
                                <div class="item" data-value="2014">2014</div>
                                <div class="item" data-value="2015">2015</div>
                                <div class="item" data-value="2016">2016</div>
                                <div class="item" data-value="2017">2017</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text"  id="booksB"  name="title" required>
                        </div>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>

        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
                <!--<th class="sorted ascending">Sr.</th>
                <th class="">Published</th>
                <th class="">Title</th>
                <th class="">Publisher</th>
                <th class="">Year</th>
                <th class="">Co-authors</th>
                <th class="">Action</th>-->

                  <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Published</th>
                <th class="" style="width: 20%;">Title of Paper</th>
                <th class=""  style="width: 20%;">Publisher</th>


                <th class="" style="width: 8%;">Year</th>
                <th style="width:17%">Co-authors</th>
                <th class="" style="width: 8%;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for b in books %}
            <tr>
                <td id="books{{ forloop.counter }}Z"><div style="display: none;">{{ b.id }}</div>{{ forloop.counter }}.</td>
                <td id="books{{ forloop.counter }}A">{{ b.p_type }}</td>
                <td id="books{{ forloop.counter }}B">{{ b.title }}</td>
                <td id="books{{ forloop.counter }}C">{{ b.publisher }}</td>
                <td id="books{{ forloop.counter }}D">{{ b.pyear }}</td>
                <td id="books{{ forloop.counter }}E">{{ b.co_authors }}</td>
                <td><a onclick="updateBOOKS({{ forloop.counter }})"><i id="bt" class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_published_booksDelete' b.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a></td>
            </tr>

            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
    </div>
<a class="" onclick="location.href='#top'">top</a>
    {% comment %}The Books segment ends here!{% endcomment %}
{% endblock %}